In [3]:
import pandas as pd
from sqlalchemy import create_engine
import sqlalchemy

In [2]:
host = 'w210postgres01.c8siy60gz3hg.us-east-1.rds.amazonaws.com'
port = 5432
dbname = 'w210postgres01'
conn_string = "postgres://dbmaster:dbpa$$w0rd!@w210postgres01.c8siy60gz3hg.us-east-1.rds.amazonaws.com:5432/w210results"

engine = create_engine(conn_string)

/home/ubuntu/anaconda3/envs/tf_env/lib/python3.6/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [6]:
pd.DataFrame({'A': [1,2,3], 'B': [4,5,6]}).to_sql('test_upload', engine)

ValueError: Table 'dv_test_table' already exists.

In [10]:
engine.execute("SELECT * FROM test_upload").fetchall()

[(0, 'dog1.jpg', True, '1551644685_436616', 3.05020570755005, datetime.datetime(2019, 3, 3, 20, 24, 48, 486816), 'n02101388', 'Brittany_spaniel', 0.00100852618925273, 5.0, 'admin'),
 (1, 'dog1.jpg', True, '1551644685_436616', 3.05020570755005, datetime.datetime(2019, 3, 3, 20, 24, 48, 486816), 'n02089867', 'Walker_hound', 0.00127112830523401, 4.0, 'admin'),
 (2, 'dog1.jpg', True, '1551644685_436616', 3.05020570755005, datetime.datetime(2019, 3, 3, 20, 24, 48, 486816), 'n02113186', 'Cardigan', 0.00135171227157116, 3.0, 'admin'),
 (3, 'dog1.jpg', True, '1551644685_436616', 3.05020570755005, datetime.datetime(2019, 3, 3, 20, 24, 48, 486816), 'n03991062', 'pot', 0.00209681573323905, 2.0, 'admin'),
 (4, 'dog1.jpg', True, '1551644685_436616', 3.05020570755005, datetime.datetime(2019, 3, 3, 20, 24, 48, 486816), 'n02088364', 'beagle', 0.987778723239899, 1.0, 'admin'),
 (5, 'dog.jpg', True, '1551644688_486824', 0.159501314163208, datetime.datetime(2019, 3, 3, 20, 24, 48, 646319), 'n02101388', 'Brittany_spaniel', 0.00100852618925273, 5.0, 'admin'),
 (6, 'dog.jpg', True, '1551644688_486824', 0.159501314163208, datetime.datetime(2019, 3, 3, 20, 24, 48, 646319), 'n02089867', 'Walker_hound', 0.00127112830523401, 4.0, 'admin'),
 (7, 'dog.jpg', True, '1551644688_486824', 0.159501314163208, datetime.datetime(2019, 3, 3, 20, 24, 48, 646319), 'n02113186', 'Cardigan', 0.00135171227157116, 3.0, 'admin'),
 (8, 'dog.jpg', True, '1551644688_486824', 0.159501314163208, datetime.datetime(2019, 3, 3, 20, 24, 48, 646319), 'n03991062', 'pot', 0.00209681573323905, 2.0, 'admin'),
 (9, 'dog.jpg', True, '1551644688_486824', 0.159501314163208, datetime.datetime(2019, 3, 3, 20, 24, 48, 646319), 'n02088364', 'beagle', 0.987778723239899, 1.0, 'admin')]